.container {
    box-sizing: border-box;
    align-items: space-between;
    justify-content: center;
    display: column;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.difficultySetting {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.button-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.square {
    width: clamp(10px, 75px, 100px);
    height: clamp(10px, 75px, 100px);
}








